
  <h2 class="movie-title"><%=@title%></h2>
  <div class="movie-container">
    
      <img src="<%= @poster%>" alt="poster" class="movie-poster">
    
    
    <div class="movie-info">
    <h3>Descriptions: </h3>
    <p>Year Published: <%=@year%></p>
    <p>Plot: <%= @plot%></p>
    </div>
  
  </div>
