
 <div class="home-container">
  
  <h1 class="home-title">Let's go find a movie to watch!</h1>
  
  <form action="/movies" class="movie-search"> 
    
    <input type="text" name="title" class="input"> 
    <button class="search-btn">search</button>
   
  </form>
 
 </div>


  <script src="/javascripts/application.js"></script>
